/* style.css */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}

.jumbotron {
    background-color: #007bff;
    color: white;
    border-radius: 10px;
}

.custom-card {
    transition: transform 0.2s, box-shadow 0.2s;
    border: none;
    border-radius: 10px;
}

.custom-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.custom-btn {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.2s, border-color 0.2s;
}

.custom-btn:hover {
    background-color: #0056b3;
    border-color: #004085;
}